<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>fAsTeR!!!</title>
  <link rel="stylesheet" href="css/style.css">
  <script src="js/typer.js" defer></script>
</head>
<body>
  <h1>How fast can you type??</h1>
  <div id="flag"></div>
  <div id="prompt" data-prompt="{{words}}">
    {{words}}
  </div>
  <div id="timer"></div>
  <form action="/times" method="post">
    <textarea id="typewriter" name="typewriter" rows="3" cols="64"></textarea>
  </form>
</body>
</html>