<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flag+</title>
    <style>body { font-family: 'Comic Sans MS', 'Papyrus', monospace;}</style>
</head>
<body>
    <h1>Free Tier Portal</h1>

    <h2>Links:</h2>
    <ul>
        <li><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Flag</a></li>
        <li><a href="https://en.wikipedia.org/wiki/The_Game_(mind_game)">Real Flag</a></li>
        <li><a href="flag.html">Real Real Flag</a></li>
    </ul>
</body>
</html>