<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flag+</title>
    <style>body { font-family: 'Comic Sans MS', 'Papyrus', monospace;}</style>
</head>
<body>
    <h1>Welcome to Flag+! </h1>
    <h2>We have two tiers: free and paid.</h2>
    <h2>You are on free tier.</h2>
    <h3>Click <a href="free.html">here</a> for the free tier portal.</h3>
</body>
</html>