<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{today}}</title>
</head>
<body>
    <div id="flag">
        {{flag}}
    </div>
    <script>
        const today = new Date();
        fetch('/api', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({date: today.toString()})
        })
        .then(response => response.json())
        .then(data => {
            document.getElementById('flag').innerHTML = data.flag;
        });

    </script>
</body>
</html>