<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lottery</title>
    <style>
        body {
            font-family: 'Roboto', 'Helvetica', 'Arial', 'sans-serif';
        }

        body:before {
            background-image: url("static/bg.jpg");
            content: " ";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: .4;
            z-index: -1;
        }
    </style>
</head>

<body>
    <h1>Welcome to the BCACTF Lottery!</h1>
    <h2>Let's see, did you win?</h2>
    <h3><%= msg %></h3>
</body>

</html>