<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> File Reader </title>
</head>
<body>
    Take a look around for my files. I'm working on adding the flag into the server as we speak.
    <br>
    <br>
    Root
    <ul>
        <li><a href="/server.py">server.py</a></li>
        <li><a href="/.vimrc">.vimrc</a></li>
        <li><a href="/hello%20world">hello world</a></li>
        <li style="display:none">Hidden files not shown</li>
        <li>templates/<ul>
            <li><a href="/templates/index.html">index.html</a></li>
            <li><a href="/templates/404.html">404.html</a></li>
            <li><a href="/templates/403.html">403.html</a></li>
        </ul></li>
    </ul>
</body>
</html>